<ion-view view-title="Dashboard">
  <ion-nav-bar class="bar-red">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-tabs class="tabs-red tabs-icon-only">
    <ion-tab icon="ion-person" href="#/tab/profile">
      <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-model-s" href="#/tab/carpool">
      <ion-nav-view name="carpool-tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>


